.dropdown-wrapper {
  width: 100%;
  min-width: 200px;
  position: relative;
  @apply px-4 py-3 rounded-md border-coolGray-300 bg-coolGray-50 bg-opacity-10 text-white outline-none;
}
.dropdown-header {
  @apply flex justify-between cursor-pointer w-full h-full;
}
.dropdown-header-title p {
  font-weight: bold;
}
.dropdown-items {
  @apply rounded-md  text-white outline-none overflow-y-scroll;
  position: absolute;
  visibility: hidden;
  right: 0;
  top: 100%;
  padding: 0;
  margin: 0;
  width: 100%;
  max-height: 600px;
  opacity: 0;
  z-index: 10;
  transition: all 0.3s ease-in-out;
}
.dropdown-items.open {
  visibility: visible;
  top: 110%;
  opacity: 1;
}
.dropdown-item {
  list-style-type: none;
}
.dropdown-item button {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px 15px 20px;
  width: 100%;
  cursor: pointer;
}
.dropdown-item button:hover,
.dropdown-item button:focus {
  background-color: rgba(255, 255, 255, 0.5);
}
