.slider {
  @apply relative w-full h-auto  overflow-hidden; 
}

.slide {
  @apply transform -translate-x-full  duration-300 ease-in-out;
}
.slide.active {
  @apply transform translate-x-0  w-full h-full duration-300 ease-in-out;
}

.slide .banner {
  @apply w-full h-[550px] xl:h-[800px]; 
}
.prev-btn,
.next-btn {
  @apply absolute text-8xl top-1/2 transform -translate-y-1/2  text-white hover:text-opacity-90  text-opacity-30 duration-300 cursor-pointer z-20;
}

.prev-btn {
  left: 20px;
}
.next-btn {
  right: 20px;
}
.dots-box {
  @apply absolute bottom-0 w-full h-1/2  flex items-end justify-center bg-gradient-to-t from-black to-transparent py-10;
}
.dots {
  @apply flex items-center;
}
.dot {
  @apply mr-3 bg-gray-600 cursor-pointer duration-300 h-2 w-2 rounded-full;
}
.dot.active {
  @apply h-4 w-4 bg-purple-700;
  box-shadow: 0 0 5px rgba(128, 0, 128, 0.5), 
              0 0 10px rgba(128, 0, 128, 0.5),
              0 0 20px rgba(128, 0, 128, 0.5),
              0 0 40px rgba(128, 0, 128, 0.5);
}
