.home-section {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)),
    url("../../assets/Images/bg2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
