.checkout {
  background: url("../../assets/Images/bg2.jpg");
  min-height: 100vh;
}
.checkout-container {
  @apply w-[90%] h-[90%] rounded-[30px];
}
.seatmap-screen .screen-shadow {
  width: 100%;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 80px solid rgba(255, 255, 255, 0.1);
  filter: drop-shadow(0 5px 0 30px white);
  margin-bottom: 50px;
}
.seatmap-description {
  @apply flex flex-col items-center;
}
.seat-description{
  @apply flex flex-wrap items-center justify-center;
}
.seat-description .description-item{
  @apply flex flex-col items-center m-4;
}
.description-item span{
  @apply inline-block w-10 h-10;
  cursor: default !important;
  pointer-events: none;
}

.input-group {
  @apply my-4;
}
.input-group label {
  @apply text-coolGray-400 inline-block mb-2;
}
.input-group .form-control {
  @apply w-full outline-none border-none bg-transparent;
}
.tabs{
  @apply flex items-end;
}
.tabs .tabPane {
  @apply text-xl font-thin border-b-2 border-white border-opacity-70 opacity-70 mr-10 pb-4 duration-300;
}
.tabs .tabPane.active {
  @apply text-4xl font-bold text-orange-500 border-orange-500 opacity-90 border-opacity-90;
}

