
.user-login .user-dropdown {
  @apply flex flex-col items-center absolute right-0 transform  p-4 w-full min-w-max rounded-md;
  top: 130%;
  opacity: 1;
  transition: all 0.3s ease-out; 
}
.user-login .user-dropdown.hide{
  visibility: hidden;
  opacity: 0;
  top: 100%; 
  transition: all 0.3s ease-in;
}


