
.user-login .user-dropdown {
  @apply flex flex-col items-center absolute left-1/2 transform -translate-x-1/2 p-4 w-full rounded-md;
  top: 130%;
  opacity: 1;
  transition: all 0.3s ease-out;  
}
.user-login .user-dropdown.hide{
  visibility: hidden;
  opacity: 0;
  top: 100%; 
  transition: all 0.3s ease-in;
}


