.sidebar-container {
  @apply absolute top-0 -right-full w-1/2 h-screen bg-black flex  items-center justify-center opacity-0 duration-300;
}
.sidebar-container.active {
  @apply opacity-100 right-0;
}
.sidebar-content {
  @apply relative w-full h-full p-10 flex flex-col items-center;
}
.sidebar-content .close-btn {
  @apply absolute right-4 top-4 h-8 w-8 rounded-full border-2 border-white flex justify-center items-center cursor-pointer opacity-60 duration-300 hover:opacity-100;
}
.sidebar-content .menu {
  @apply flex flex-col items-center;
}

.sidebar-content .menu li {
  @apply text-8xl mb-4 p-3 relative;
}

.menu li:after {
    content: "";
    width: 0;
    height:2px;
    background: transparent;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: all 0.5s;
}
.menu li:hover:after{
    width: 100%;
    background: white;
}