.table table {
  color: white;
  text-align: center;
  background: rgba(255, 255, 255, 0.25);
  border-collapse: collapse;  
  width: 100%;
  
}

.table table td,
.table table th {
  border: 1px solid #ddd;
  padding: 8px;
  color:#fff;
}

.table table tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.1);
}

.table table tr:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.table table th {
  padding-top: 12px;
  padding-bottom: 12px;  
  background-color: var(--main-color);
  color: white;
}

