@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

:root {
  --sub-color: #9e10eb;
  --main-color: #f5059d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", san-seref;
  font-size: 16px;
}
body {
  background: black;
}


::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #9e10eb83;
  opacity: 0.5;
  border-radius: 5px;
  box-shadow: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--main-color);
}
::-webkit-scrollbar-track {
  box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 0.25);
}
.glass {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
}
