.home-section{
  /* @apply bg-gradient-to-b from-black via-gray-600 to-black; */
  background:  url('../../../assets//Images/bg-5.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.movies {
  @apply py-20;  
}

.types li { 
  @apply inline-block text-gray-600 mx-10 cursor-pointer  transform hover:scale-150 duration-300;
}
.types li:hover {
  margin: 0 70px; 
}
.types li span {
  @apply text-2xl font-bold;
}

.types li.active {
  @apply text-red-400 scale-150 duration-300;  
}